name: CD after CI

on:
  workflow_run:
    workflows: ["CI Flask App"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: Trigger deploy on PythonAnywhere
      run: |
        curl -X POST "https://${{ secrets.PA_DOMAIN }}/deploy?token=${{ secrets.DEPLOY_SECRET }}"
